*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.accordion {
    width: 100%;
    height: auto;
    padding: 1rem;
    display: block;
    box-shadow: 2px 2px 5px 0px #00000055;
    border-radius: 10px;
    text-align: left;
    transition: background-color 0.5s;
    > div:first-child {
        width: 100%;
        margin: 1rem auto;
        cursor: pointer;
        display: grid;
        grid-template-columns: 1fr 2rem;
        align-items: center;
        > h2 {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            transition: font-weight 0.5s;
        }
        > img {
            width: 2rem;
            height: 2rem;
            transition: all 0.5s;
        }
    }
    > div {
        width: 100%;
        margin: 1rem auto;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        p {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
        }
    }
}

.accordionCollapsed {
    background-color: #E9E9E9;
    > div:last-child {
        @media (prefers-reduced-motion: no-preference) {
            interpolate-size: allow-keywords;
        }
        height: 0;
        opacity: 0;
        transition: all 0.5s allow-discrete;
        overflow: hidden;
    }
}

.accordionExpanded {
    background-color: white;
    > div:first-child {
        > h2 {
            font-weight: 600;
        }
        > img {
            transform: rotate(180deg);
        }
    }
    > div:last-child {
        @media (prefers-reduced-motion: no-preference) {
            interpolate-size: allow-keywords;
        }
        height: auto;
        opacity: 1;
        transition: all 0.5s allow-discrete;
        overflow: hidden;
    }
}